.tab {
  display: flex;
  width: 30%;

  .item {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    border-right: 1px solid #F3F3F3;
    box-sizing: border-box;
    cursor: pointer;

    &.active {
      color: #00B4CF;
      border-bottom: 3px solid #00B4CF;
    }
  }
}
