.history {
  padding: 10px;
  position: absolute;
  bottom: 0;

  p {
    font-size: 24px;
    color: #ccc;
    margin: 0;
  }

  .list {
    font-size: 12px;
    color: #999;
    list-style: inside;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    max-height: 200px;

    li {
      margin-bottom: 10px;
      white-space: nowrap;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: #00B4CF;
      }
    }
  }
}
