html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #36485C;
  background-color: #F3F3F3;
  font-size: 14px;

  font-family: "cruise", "Helvetica", "Avenir", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

