.head-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;

  .building {
    background-color: #FF9A2A;
  }

  .idle {
    background-color: #7FBC39;
  }
}

.card {
  width: 31%;
  height: 120px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  position: relative;

  .iconfont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 144px;
    color: rgba(255, 255, 255, 0.2);
  }

  .icon-cog {
    animation: spinning 2s infinite linear;
  }

  .content {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: capitalize;
  }

  .status-number {
    text-align: right;
    font-size: 48px;
    padding: 10px;
  }
}

/*右侧head图案动画样式*/

@keyframes spinning {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.overview {
  color: black;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px;
  text-align: center;
  align-items: center;

  .category {
    font-size: 12px;
    text-transform: uppercase;
  }

  .number {
    font-size: 20px;
  }
}

.nav {
  display: flex;
  margin-top: 15px;
  background-color: white;
  padding-right: 10px;
  height: 50px;
  align-items: center;

  .iconfont {
    cursor: pointer;
    margin-right: 20px;

    &.active {
      color: #00B4CF;
    }
  }

  .search {
    margin-left: 15px;
    position: relative;
    height: 100%;
    padding: 10px 80px 10px 10px;
    flex: auto;
    box-sizing: border-box;

    .iconfont {
      position: absolute;
      color: gray;
      left: 15px;
      top: 13px;
    }

    input {
      min-width: 200px;
      height: 28px;
      border: none;
      background-color: #F3F3F3;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
      padding-left: 35px;
    }
  }
}

.agents {
  margin-top: 15px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .overview {
    padding: 10px 30px;
    color: black;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
            "left1 right1"
            "left2 right2"
            "left3 right3";
    align-items: center;

    .category {
      &.all {
        grid-area: left1;
      }

      &.physical {
        grid-area: left2;
      }
      &.virtual {
        grid-area: left3;
      }
      text-align: left;
      font-size: 12px;
      text-transform: uppercase;
    }

    .number {
      &.all-number {
        grid-area: right1;
      }

      &.physical-number {
        grid-area: right2;
      }

      &.virtual-number {
        grid-area: right3;
      }
      text-align: right;
      font-size: 20px;
    }
  }
}
